$mainColor: black;
$subColor: white;
@mixin normal {
  background-color: $subColor;
  color: $mainColor;
}
@mixin backblack {
  background-color: $mainColor;
  color: $subColor;
}
$pc:1024px;
$pad:780px;
$sp:640px;
@mixin max-screen($break-point) { //$break-point引数
  @media screen and (max-width: $break-point){
    @content;
  }
}
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point){
    @content;
  }
}
@mixin screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max){
    @content;
  }
}
$font-family: 'Stint Ultra Condensed', cursive;
@mixin h2text(){
      font-size: 100px;
      text-align: center;
      padding-bottom: 30px;
      font-family: $font-family;
      letter-spacing: 20px;
      @include max-screen($sp){
        font-size: 50px;
      } 
}

.contact{
  >h2{
    @include h2text();
  }
  .contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    .contacts {
      width: 30vw;
      font-size: 23px;
      margin-bottom: 18px;
      padding: 3px 12px;
    }
  }
  .submit{
    width: 50px;
    height: 40px;
  }
}