$mainColor: black;
$subColor: white;
@mixin normal {
  background-color: $subColor;
  color: $mainColor;
}
@mixin backblack {
  background-color: $mainColor;
  color: $subColor;
}

@mixin btnoff {
  background-color: $mainColor;
  color: $subColor;
}
@mixin btnon {
  background-color: $subColor;
  color: $mainColor;
}

$font-family: 'Stint Ultra Condensed', cursive;


@mixin p-text() {
  text-align: center;
  font-size: 45px;
  font-family: $font-family;
  padding: 30px 0;
}
$pc:1024px;
$pad:780px;
$sp:640px;
@mixin max-screen($break-point) { //$break-point引数
    @media screen and (max-width: $break-point){
        @content;
    }
}
@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point){
        @content;
    }
}
@mixin screen($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max){
        @content;
    }
}
@mixin h2text(){
  font-size: 100px;
  text-align: center;
  padding-bottom: 30px;
  font-family: $font-family;
  letter-spacing: 20px;
  @include max-screen($sp){
    font-size: 50px;
  } 
}




header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 0;
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 30px 50px;
    @include max-screen($pad){
      justify-content: space-around;
    } 
    >li {
      text-align: center;
      font-size: 40px;
      padding: 0 30px;
      @include max-screen($sp){
        display: none;
      } 
      >a {
        font-family: $font-family;
        text-decoration: none;
        letter-spacing: 10px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}



.input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.label {
  width: 75px;
  height: 42px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
  @include max-screen($sp){
    position: fixed;
  } 
  &:after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: $subColor;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }
}

.input:checked {
  +.label{
    background-color: gray;
    &:after{
      left: 40px;
    }
  }
}

.toggle-switch {
  position: relative;
  top: 5px;
  width: 75px;
  height: 42px;
  margin: 40px 50px;
  @include max-screen($sp){
    margin: 10px 20px;
  } 
}

//ハンバーガー

nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  height: 25%;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 3;
}
.open nav {
  left: 0;
}
nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  letter-spacing: 10px;
  font-family: $font-family;
}
nav .inner ul li a {
  display: block;
  // color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}
@include max-screen($sp){
  nav {
    left: -240px;
    width: 240px;
  }
}
/*============
@keyframes
=============*/
@keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
@keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  @include min-screen($sp){
    display: none;
  } 
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 30px;
  transform: translate(0, 0);
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  left: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 5px;
  width: 60px;
  animation: equalizer01 7000ms infinite;
}
.toggle_btn span:nth-child(2) {
  top: 15px;
  width: 30px;
  animation: equalizer02 5000ms infinite;
  animation-delay: 0.33s;
}
.toggle_btn span:nth-child(3) {
  top: 25px;
  width: 20px;
  animation: equalizer02 5000ms infinite;
}
.open .toggle_btn span {
  background-color: #fff;
  width: 30px;
}
.open .toggle_btn span:nth-child(1) {
  transform: translate(0, 10px) rotate(-45deg);
  animation: unset;
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
  animation: unset;
}
.open .toggle_btn span:nth-child(3) {
  transform: translate(0, -10px) rotate(45deg);
  animation: unset;
}
@include max-screen($sp){
  .open .toggle_btn {
    left: 260px;
  }
}

/*============
#mask
=============*/
#mask {
  display: none;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
  transition: all .5s;
}
.normal {
  @include normal();
}

.blackback {
  @include backblack();
}

.btnoff{
  @include btnoff();
}

.btnon{
  @include btnon();
}