*{
  margin: 0;
  padding: 0;
}

@import "header.scss";
$mainColor: black;
$subColor: white;
@mixin normal {
  background-color: $subColor;
  color: $mainColor;
}
@mixin backblack {
  background-color: $mainColor;
  color: $subColor;
}
$font-family: 'Stint Ultra Condensed', cursive;
$pc:1024px;
$pad:780px;
$sp:640px;
@mixin max-screen($break-point) { //$break-point引数
  @media screen and (max-width: $break-point){
    @content;
  }
}
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point){
    @content;
  }
}
@mixin screen($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max){
    @content;
  }
}

@mixin h2text(){
      font-size: 150px;
      text-align: center;
      padding-bottom: 20px;
      font-family: $font-family;
      letter-spacing: 20px;
      @include max-screen($sp){
        font-size: 100px;
      } 
}
main {
  .main-top{
    >h2{
      @include h2text();
    }
  }
  .main-bottom{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    @include max-screen($sp){
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    .main-center{
      @include max-screen($pad){
        margin: 0 auto;
      }
      >img{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        @include max-screen($pad){
          width: 200px;
          height: 200px;
        } 
      }
    }
    .main-right {
    display: flex;
    padding: 0 50px ;
    @include max-screen($pad){
      padding: 0;
      justify-content: center;
    } 
    .main-nav {
      justify-content: center;
      align-content: space-between;
      list-style: none;
      font-size: 60px;
      padding: 10px;
      @include max-screen($pad){
        font-size: 30px;
        padding: 15px;
      } 
      li{
        padding: 20px 0;
        font-family: $font-family;
        letter-spacing: 10px;
        @include max-screen($pad){
          padding: 10px 0;
        } 
      }
    }
    }
  }
}


@import "myhobby.scss";
@import "contact.scss";
@import "check.scss";
@import "thank.scss";
@import "footer.scss";