header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 0;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 30px 50px;
}

@media screen and (max-width: 780px) {
  header .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

header .nav > li {
  text-align: center;
  font-size: 40px;
  padding: 0 30px;
}

@media screen and (max-width: 640px) {
  header .nav > li {
    display: none;
  }
}

header .nav > li > a {
  font-family: "Stint Ultra Condensed", cursive;
  text-decoration: none;
  letter-spacing: 10px;
}

header .nav > li > a:hover {
  text-decoration: underline;
}

.input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.label {
  width: 75px;
  height: 42px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .label {
    position: fixed;
  }
}

.label:after {
  content: '';
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input:checked + .label {
  background-color: gray;
}

.input:checked + .label:after {
  left: 40px;
}

.toggle-switch {
  position: relative;
  top: 5px;
  width: 75px;
  height: 42px;
  margin: 40px 50px;
}

@media screen and (max-width: 640px) {
  .toggle-switch {
    margin: 10px 20px;
  }
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  height: 25%;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}

.open nav {
  left: 0;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
  letter-spacing: 10px;
  font-family: "Stint Ultra Condensed", cursive;
}

nav .inner ul li a {
  display: block;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 640px) {
  nav {
    left: -240px;
    width: 240px;
  }
}

/*============
@keyframes
=============*/
@-webkit-keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
@keyframes equalizer01 {
  0% {
    width: 70%;
  }
  10% {
    width: 50%;
  }
  20% {
    width: 100%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 50%;
  }
  50% {
    width: 70%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}

@keyframes equalizer02 {
  0% {
    width: 30%;
  }
  10% {
    width: 20%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 10%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 10%;
  }
  100% {
    width: 30%;
  }
}

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 30px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

@media screen and (min-width: 640px) {
  .toggle_btn {
    display: none;
  }
}

.open .toggle_btn {
  left: 330px;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.toggle_btn span:nth-child(1) {
  top: 5px;
  width: 60px;
  -webkit-animation: equalizer01 7000ms infinite;
          animation: equalizer01 7000ms infinite;
}

.toggle_btn span:nth-child(2) {
  top: 15px;
  width: 30px;
  -webkit-animation: equalizer02 5000ms infinite;
          animation: equalizer02 5000ms infinite;
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

.toggle_btn span:nth-child(3) {
  top: 25px;
  width: 20px;
  -webkit-animation: equalizer02 5000ms infinite;
          animation: equalizer02 5000ms infinite;
}

.open .toggle_btn span {
  background-color: #fff;
  width: 30px;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(0, 10px) rotate(-45deg);
          transform: translate(0, 10px) rotate(-45deg);
  -webkit-animation: unset;
          animation: unset;
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0;
  -webkit-animation: unset;
          animation: unset;
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(0, -10px) rotate(45deg);
          transform: translate(0, -10px) rotate(45deg);
  -webkit-animation: unset;
          animation: unset;
}

@media screen and (max-width: 640px) {
  .open .toggle_btn {
    left: 260px;
  }
}

/*============
#mask
=============*/
#mask {
  display: none;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.normal {
  background-color: white;
  color: black;
}

.blackback {
  background-color: black;
  color: white;
}

.btnoff {
  background-color: black;
  color: white;
}

.btnon {
  background-color: white;
  color: black;
}

.thank > h2 {
  font-size: 100px;
  text-align: center;
  padding-bottom: 30px;
  font-family: "Stint Ultra Condensed", cursive;
  letter-spacing: 20px;
}

@media screen and (max-width: 640px) {
  .thank > h2 {
    font-size: 50px;
  }
}

.thank .thank-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

.thank .thank-box .thank-text {
  text-align: center;
  font-size: 45px;
  font-family: "Stint Ultra Condensed", cursive;
  padding: 30px 0;
}
/*# sourceMappingURL=thank.css.map */